* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(219, 231, 232, 0.3);
}
h1 {
    text-align: center;
    margin-top: 1%;
}
.container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.box {
    float: left;
    padding: 2%;
}
.item {
    position: relative;
    background-color: rgba(0, 255, 217, 0.214);
    border: 1px solid rgb(96, 96, 96);
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
}
.plug {
    opacity: 0;
    border: 1px solid rgb(70, 70, 70);
    border-top: 0;
}
.caption {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid rgb(70, 70, 70);
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 8px;
    width: 150px;
    text-align: center;
    font-weight: 600;
}
.text {
    padding: 3vw;
    padding-top: 1vw;
}
.box:nth-of-type(1) > .item .caption {
    background-color: #f22929a7;
}
.box:nth-of-type(2) > .item .caption {
    background-color: rgba(20, 190, 20, 0.701);
}
.box:nth-of-type(3) > .item .caption {
    background-color: rgba(45, 72, 228, 0.72);
}
.navb {
    width: 100%;
    text-align: center;
}
.navb a {
    margin: 40px;
    text-decoration: none;
    font-size: 1em;
}
/* Desktop devices */
@media (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/* Table devices */
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* Mobile devices */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  
}
